@font-face {
    font-family: "Monserrat";
    src: url('~@/assets/fonts/Montserrat-ExtraBold.ttf');
    font-weight: 700;
}

.heading-section {
    font-family: "Monserrat", sans-serif;
    color: black;
}

.navbar-link:focus,
.navbar-item.has-dropdown.is-active .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
    background: black;
    color: white;
}

.navbar-item.has-dropdown.is-active .navbar-link:not(.is-arrowless)::after{
    border-color: white;
}

.navbar-link:not(.is-arrowless)::after{
  border-color: black;
}

@media screen and (min-width: 1024px) {
  .navbar-item.has-dropdown:hover {
    .navbar-link {
      background-color: black;
      color: white;
    }
    .navbar-link:not(.is-arrowless)::after{
        border-color: white;
    }
  }
}

.carousel-arrow {
    .icon {
        color: black;
        border-radius: 0;
        
        &:hover {
            border: 1px solid black;
        }
    }
}

.b-numberinput {
    .button {
        background: black;
        border-radius: 0;
    }

    .input {
        border-radius: 0;
    }
}